body{
    background-color: darkgrey;
}
.score-container{
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 100px;
    padding: 5px 12px;
}
#F_Team{
    margin-right: 20px;
}
#L_Team{
    margin-right: 32px;
}

.score-container img{
    width: 16px;
    height: 16px;
}

.score-container p{
    font-weight: bold;
    font-size: 11px;
}

/* .table img{
    height: 50px;
    width: 50px;
} */